<nav class="flex items-center justify-around h-28 bg-[#e0e0e0]">
    <img src="../../../assets/logo.png" alt="Logo">

    <ul class="flex flex-row gap-10 text-[#595959]">
        <li>
            <a href="#">Sobre o Produto</a>
        </li>
        <li>
            <a href="#">Serviços Prestados</a>
        </li>
        <li>
            <a href="#">Quem somos?</a>
        </li>
    </ul>

    <a class="py-4 px-12 bg-[#2a9134] rounded-2xl text-white hover:opacity-70 cursor-pointer transition-opacity"> Entrar </a>
</nav>