@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-background {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
}
