<div class="w-96 bg-[#eeeeee]">
    <h2>Cadastrar Veículo</h2>
    <form>
        <label for="marca">Marca</label>
        <input type="text">
        <div class="flex">
            <div>
                <label for="quilometragem">Quilometragem</label>
                <input class="border" type="text">
            </div>
            <div>
                <label for="modelo">Modelo</label>
                <input class="border" type="text">
            </div>
        </div>
        <div class="flex">
            <div>
                <label for="ano">Ano</label>
                <input class="border" type="text">
            </div>
            <div>
                <label for="placa">Placa</label>
                <input class="border" type="text">
            </div>
        </div>
        <button>Adicionar</button>
    </form>
</div>